# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\abhi\Desktop\ANU Courses Semester 1 2021\EDA\Term Project\ImageSegmentationUsingNormalizedCut\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
